body {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    border-bottom: 2px solid #000;
}

.titulo .boton {
    padding: 0px 0px 0px 40px;
}

.titulo h1 {
    font-size: 2rem;
    padding: 20px 20px 20px 0px; 
}
