

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
/*
.profile-work li,a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
*/
.profile-tab label{
    font-weight: 600;
}
