* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.wrap {
    width: 95%;
    margin: auto;
}

.wrap h1{
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}


.categorias {
    width: 20%;
    padding: 10px;
}

.lista-torneos {
    width: 80%;
}

.lista-torneos .torneos {
    margin-inline: 5px;
}

.filtro {
    display: none;
}